body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    background-color: #ffffff;
  }

  a {
    text-decoration: none;
  }

  .container {
    margin: 0 auto;
  }

 .ferst-header {
    height: 320px;
    background-color: #f3f7f8;
    display: flex;
    flex-direction: column;
  } 

  .second-header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 46px;
  }

  .third-header {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
    margin-top: 44px;
    background-color: #32425c;
    border-bottom: 3px solid #293449;
  }

  .main-header {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background-color: #293449;
    color: #ffffff;
    display: flex;
    height: 42px;
    padding-left: 130px;
    padding-right: 130px;
  }

  input[type=search] {
    padding: 12px 0 12px 49px;
    border: none;
    font-family: "Cuprum","Arial",sans-serif;
    font-size: 17px;
  }
  label.search {
    width: 41px;
    height: 12px;
    font-family: "Cuprum","Arial",sans-serif;
    font-size: 17px;
  }

  .basket .bookmark {
    width: 100px;
    padding: 12px 0 12px 50px;
    font-size: 17px;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    text-align: left;
    color: #ffffff;
  }

  .basket-catalog {
    width: 100px;
    padding: 12px 0 12px 50px;
    font-size: 17px;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    text-align: left;
    color: #ffffff;
    background-color: #ee3643;  
  }

  .order {
    background-color: #63a63e;
    width: 150px;
    height: 42px;
    color: #ffffff;
    font-family: "Cuprum","Arial",sans-serif;
    font-size: 17px;
  }


 .main-header a {
    width: 100px;
    font-size: 17px;
    line-height: 18px;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    text-align: left;
    color: #ffffff;
}

.description {
  width: 247px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-family: "Cuprum","Arial",sans-serif;
  color: #ee3643;;
}

.contacts a {
  width: 270px;
  height: 45px;
  border: 3px solid #ffffff;
  color: #ee3643;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 21px;
}

.contacts p {
  width: 250px;
  height: 13px;
  color: #32425c;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 14px;
}

.user-name a {
  padding: 12px 65px 14px 46px;
  color: #000000;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  background-color: #ffffff;
}

.links a {
  color: #32425c;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}

.login-block {
  height: 16px;
  color: #000000;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.login {
  padding: 12px 26px 14px 46px;
  background-color: #ffffff;
}

.registration {
  padding: 12px 25px 14px 23px;
  background-color: #684e4e;
}

.navigation {
  display: flex;
  flex-direction: row-reverse;
}

.navigation ul {
  padding-left: 0;
  list-style: none;
}

.navigation li {
  display: inline;
}

.navigation a {
  padding: 14px 30px;
  color: #ffffff;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 17px;
  line-height: 17px;  
}

/*main index*/
.ferst-main {
  width: 960px;
  padding-left: 130px;
  padding-right: 130px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 59px;
}

.divide-main {
  margin-bottom: 20px;
  margin-right: 20px;
}

.divide-main:nth-child(3n) {
  margin-right: 0;
}

.materials {
  width: 300px;
  height: 123px;
  background-color: #ffbf47;
}

.tools {
  width: 300px;
  height: 123px;
  background-color: #3bbce3;
}

.technics {
  width: 300px;
  height: 123px;
  background-color: #dc91d8;
}

.special {
  width: 300px;
  height: 123px;
  background-color: #8ed78f;
  margin-right: 0;
}

.delivery {
  width: 300px;
  height: 123px;
  background-color: #ffc047;
}

.slider-item {
  width: 620px;
  height: 266px;
  background-image: url(../img/drill.jpg);
}

.lobby {
  width: 960px;
  height: 89px;
  margin-top: 53px;
  background-color: #f9f5f0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lobby h2 {
  color: #32425c;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.lobby-btn {
  padding: 11px 55px 9px;
  margin: 25px 24px 0 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  background-color: #ee3643;
  color: #fff;
  border-radius: 4px;
}

.catalog-index {
  margin-top: 21px;
  width: 960px;
  padding-left: 130px;
  padding-right: 130px;

}

.catalog-index ul {
  display: flex;
  flex-direction: row;
  padding-left: 0;
}

.catalog-item-main {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  width: 220px;
  margin-bottom: 20px;
  margin-right: 21px;
}
.lobby-2 {
  width: 960px;
  height: 89px;
  background-color: #f9f5f0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lobby-2 h2 {
  color: #32425c;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.brand {
  width: 960px;
  padding-left: 130px;
  padding-right: 130px;
}

.brand ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}

.brand-list li:nth-child(4n+4) {
  margin-right: 0;
}

.brand li{
  width: 218px;
  height: 143px;
  margin: 0 20px 20px 0;
  border: 1px solid #e5e5e5;
}

.service {
  width: 960px;
  height: 522px;
  padding-left: 183px;
  padding-right: 183px;
  background-color: #f2f6f8;
}

.service h2 {
  text-transform: uppercase;
  color: #000;
  font-size: 30px;
  font-family: "Cuprum","Arial",sans-serif;
}

.service p {
  padding-bottom: 64px;
  font-size: 13px;
  font-family: "PT Sans","Arial",sans-serif;
  color: #000;
}

.service h3 {
  text-transform: uppercase;
  color: #32425c;
  font-size: 36px;
  font-family: "Cuprum","Arial",sans-serif;
}

.delivery-switch {
  width: 960px;
  height: 285;
  display: flex;
  flex-direction: row;
  background-image: url(../img/delivery2.png);
  background-repeat: no-repeat;
  background-position: right;
}

.pre-footer {
  width: 960px;
  height: 537px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding-left: 183px;
  padding-right: 183px;
}

.pre-footer h2 {
  color: #000000;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
.pre-footer p {
  font-size: 13px;
  font-family: "PT Sans","Arial",sans-serif;
  color: #000000;
}
/*main index*/

/*main catalog*/

.main-catalog {
  width: 960px;
  padding-left: 130px;
  padding-right: 130px;
}
.part-breadcrumbs {
  width: 960px;
  height: 60px;
  padding-left: 130px;
  padding-right: 130px;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs a {
  color: #000000;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.title {
  width: 960px;
  height: 89px;
  background-color: #f2f6f8;

  margin-bottom: 20px;
}

.filter-catalog {
  display: flex;
}

.title h2 {
  color: #32425c;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.field-option {
  border: none;
}

.manufacturers {
  color: #000000;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 25px;
}

.supply {
  color: #000000;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase; 
}

.field-supply {
  border: none;
  display: flex;
  flex-direction: column;
}

.manufacturers label {
  color: #000000;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.list-manuf li {
  margin-bottom: 20px;
}

.manuf-name {
  color: #000000;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.supply-name {
  color: #000000;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.filters {
  display: flex;
  flex-direction: column;
}

.filters h3 {
  background-color: #f7f3ec;
}

.filters h2 {
  color: #000000;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.range {
  width: 220px;
  height: 80px;
  background-color: #f7f3ec;
  margin-bottom: 9px;
}

input[type=text] {
  width: 95px;
  padding: 8px 2px 10px 8px;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans","Arial",sans-serif;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
  
}

.dash {
  width: 10px;
  height: 1px;
  color: #444444;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 26px;
}

.dash::after {
  content: "—"
}

.price-box {
  display: flex;
  flex-direction: row;
}

.field-option::before {
  display: block;
  width:220px;
  content: '';
  border-bottom: 1px solid #e5e5e5;
}

.field-option::after {
  display: block;
  width:220px;
  content: '';
  border-bottom: 1px solid #e5e5e5;
}

.filters button {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  padding: 11px 38px 8px;
  
}

.line {
  margin-top: 25px;
  margin-bottom: 16px;
  border-bottom-width: 0;
}

.sorting {
  width: 700px;
  height: 38px;
  
}


.sorting li {
  display: inline;
}

.sorting {
  display: flex;
  background-color: #f7f3ec;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 20px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  width: 220px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.catalog-category {
  color: #000000;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.old-price {
  color: #999999;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  text-align: center;
}

.red-price {
  background-image: url("../img/11.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 141px;
  height: 38px;
  text-align: center;
}

.definition {
  height: 261px;
  padding-left: 130px;
  padding-right: 130px;
  background-color: #f2f6f8;
}

.definition h2 {
  margin-bottom: 28px;
  color: #000000;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Cuprum","Arial",sans-serif;
}

.definition p {
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #000000;
  font-size: 13px;
}

/*main catalog over*/



.extra-p {
  width: 500px;
}

.pre-footer li {
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000
}

.aboutus {
  padding: 12px 40px 10px;
  text-align: center;
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.loss-btn {
  padding: 13px 58px 8px 64px;
  background-color: #ee3643;
  color: #ffffff;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.begin-footer { 
  background-color: #32425c;
}

.close-footer {
  width: 960px;
  height: 193px;
  display: flex;
  justify-content: space-between;
  padding-left: 130px;
  padding-right: 130px;
}

.over-footer {
  width: 960px;
  display: flex;
  justify-content: space-between;
  padding-left: 130px;
  padding-right: 130px;
  margin: 0 auto;
}


.footer-nav-2 li {
  display: inline;
}

.close-footer p
.footer-tel {
  width: 322px;
  height: 40px;
  color: #f3f7f9;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.links-1 {
  margin-top: 42px;
}

.links-2 {
  margin-top: 45px;
}

.links-1 a {
  color: #f1f5f7;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.links-2 a {
  color: #ffd180;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.main-footer {
  background-color: #293449;
  height: 107px;
}

.main-footer p {
  color: #ffffff;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.mail {
  color: #ffd180;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}